<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des Auteurs</title>
</head>
<body>
    <h1>Liste des Auteurs</h1>
    <a href="/accueil">Accueil</a>
    <table border="1">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="auteur : ${auteurs}">
                <td><a th:href="@{/auteurs/detail/{id}(id=${auteur.id})}" th:text="${auteur.nom}"></a></td>
                <td th:text="${auteur.prenom}"></td>
                <td>
                    <a th:href="@{/auteurs/modifier(id=${auteur.id})}">Modifier</a>
                    <a th:href="@{/auteurs/supprimer/{id}(id=${auteur.id})}">Supprimer</a>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <a href="/auteurs/ajouter">Ajouter un Auteur</a>
</body>
</html>
